.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.selected-row {
    background-color: #8a878770;
}

.dotBtn {
    color: #fff;
    background-color: #2279a6 !important;
    border-color: #288dc1 !important;
    width: 85%;
}