<app-loader></app-loader>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img style="width: 100%" src="../../assets/images/background_original.jpg" class="mx-auto d-block">
        </div>
    </div>

    <!-- <section>
        <p-button [routerLink]="['/register']">Sign up! 
            <i class="pi pi-arrow-right ml-3"></i>
        </p-button>
        <p-button [routerLink]="['/datasetinfo']">Learn More</p-button>
        <p-splitButton label="Info" [model]="this.items" styleClass="p-button-text p-button-info mr-2 mb-2"></p-splitButton>
    </section> -->
    
    <div class="row" style="padding-top: 15px;">
        <div class="col-md-4">
            <p-card header="About SDC">
                <p>The Secure Data Commons is an online analytic portal for transportation researchers. On this portal, researchers can take advantage of pre-established programming environments to access and analyze a growing set of transportation-related data sets.
                </p>
                <ng-template pTemplate="footer">
                    <p-button [routerLink]="['/about']" >Learn More</p-button>
                </ng-template>
            </p-card>
        </div>
        <div class="col-md-4">
            <p-card header="Datasets">
                <p>Check out the list of current datasets that
                    are available on SDC platform and learn how
                    to get access to those datasets
                </p>
                <ng-template pTemplate="footer">
                    <p-button [routerLink]="['/datasetinfo']" >Learn More</p-button>
                </ng-template>
            </p-card>
        </div>
        <div class="col-md-4">
            <p-card header="Sign up">
                <p>Complete our online
                    access request form and when you are
                    approved you can begin creating your very
                    own data analysis environments!
                </p>
                <ng-template pTemplate="footer">
                    <p-button [routerLink]="['/register']" >Learn More</p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
