
.cardBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.card {
    height: 220px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
.cardContent {
    height: 120px;
}
.cardTitle {
    margin-top: -15px !important;
}
.pcard{
    display: flex;
    align-items: stretch;
}
.pcardBtn {
    justify-content: center;
    position: absolute !important;
    bottom: 20px !important;
    left: 35% !important;
}
