<div class="container">
  <p-card>
    <div class="row">
      <div class="col-md-12">
        <!-- Export Requests-->
        <app-export-requests-panel
          header="Export File Requests"
          [requests]="exportFileRequests"
          [columns]="cols"
          dataKey="filename"
          statusField="RequestReviewStatus"
          (onApprove)="submitApproval('Approved', $event)"
          (onReject)="submitApproval('Rejected', $event)"
          (onDetails)="renderApprovalForm($event)"
          (onDownload)="requestDownloadForReview($event)"
        ></app-export-requests-panel>

        <!-- Table Requests-->
        <app-export-requests-panel
          header="Export Table Requests"
          [requests]="exportTableRequests"
          [columns]="colsExportTable"
          dataKey="filename"
          statusField="RequestReviewStatus"
          (onApprove)="submitTableApproval('Approved', $event)"
          (onReject)="submitTableApproval('Rejected', $event)"
          (onDetails)="renderTableApprovalForm($event)"
        ></app-export-requests-panel>

        <!-- Trust Requests-->
        <app-export-requests-panel
          header="Trusted Requests"
          [requests]="trustedRequests"
          [columns]="colsTrusted"
          dataKey="filename"
          statusField="TrustedStatus"
          (onApprove)="
            submitTrustedApproval(
              'Trusted',
              $event.userFullName,
              $event.dataset,
              $event
            )
          "
          (onReject)="
            submitTrustedApproval(
              'Untrusted',
              $event.userFullName,
              $event.dataset,
              $event
            )
          "
        ></app-export-requests-panel>

        <!-- Auto-Export Requests-->
        <app-export-requests-panel
          header="Auto-Export Requests"
          [requests]="autoExportRequests"
          [columns]="colsAutoExport"
          dataKey="filename"
          statusField="AutoExportStatus"
          (onApprove)="
            submitAutoExportApproval(
              'Approved',
              $event.userFullName,
              $event.dataset,
              $event
            )
          "
          (onReject)="
            submitAutoExportApproval(
              'Denied',
              $event.userFullName,
              $event.dataset,
              $event
            )
          "
        ></app-export-requests-panel>
      </div>
    </div>
  </p-card>
</div>
