<div class="container">
  <br><br>

  <h1 *ngIf='hash_json["error_description"]'>Error : {{hash_json['error_description']}}</h1>
  
  <!--<h1>SDC Login</h1>
  <div class="container-fluid">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="name">* Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="user.username" #username="ngModel" required />
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="name">* Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
      </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" [disabled]="!f.form.valid">Login</button>
    </div>
    <div *ngIf="f.submitted && errorMessage" [hidden]="user.username || user.password" class="alert alert-danger">{{ errorMessage }}</div>
  </form>
</div> -->
</div>