language: python
python:
    - 3.6
install:
    - pip install boto3
    - pip install utils
    - pip install moto
    - pip install coverage
branches:
    only:
        - master
        - develop

addons:
    sonarcloud:
        organization: "usdot-jpo-sdc"

script:
    - coverage erase
    - npm run test-headless
    - sonar-scanner -X -D sonar.login=$SONAR_TOKEN
