<div class="container">
  <app-loader></app-loader>
  <div class="grid-row margin-top-3">
    <div class="grid-col-4"></div>
    <div class="grid-col-4">
      <app-alert [showAlert]="!passwordMatch" [text]="errorMessage"></app-alert>
      <form class="usa-form signin" (ngSubmit)="onSubmit()">
        <fieldset class="usa-fieldset">
          <legend class="border-0 usa-legend">Password Reset</legend>
          <label class="margin-top-4" for="password">New Password</label>
          <input class="usa-input" id="password" name="password" [(ngModel)]="password" type="password" appTogglePassword>
  
          <label class="margin-top-4" for="password_confirm">Confirm New Password</label>
          <input class="usa-input" id="password_confirm" name="password_confirm" [(ngModel)]="password_confirm" type="password" appTogglePassword>
          
          <input class="usa-button link-submit margin-top-3" type="submit" value="Reset Password">

        </fieldset>
      </form>
    </div>
  </div>
</div>