<div class="container">
  <mat-card>
    <div class="row row-divided">
      <div class="col-xs-6 column-one">
        <div class="sign-in-container">
          <h3>Sign in</h3>
          <div class="information-text sign-in-information-text">
            <p>If you do not have a Department of Transportation email address, you will be redirected to Login.gov.</p>
            <p>You will be prompted to create a Login.gov account if you do not already have one.</p>
          </div>
          <div class="email-address-container">
            <p><strong>Email Address</strong></p>
            <input value="" type="text" size="40" class="usa-input" id="email" name="email" [(ngModel)]="email" autocapitalize="off" autocorrect="off">
            <button class="btn btn-primary actionBtn" (click)="userLogin()">Sign In</button>
          </div>
        </div>
      </div>
      <div class="vertical-divider">or</div>
      <div class="col-xs-6 column-two">
        <h3>Sign up</h3>
        <p class="textFormat">Please download the access request
          form below, fill out the required details and send an email
          to support@securedatacommons.com. Once approved,
          we will send you an email with the instructions for
          accessing the platform.</p>

        <div class="accessLink">
          <a style="font-size:16px;" href="../../../assets/SDC_Form/SDCAccessRequestForm.pdf" target="_blank" >Access Request Form</a>
        </div>
      </div>
    </div>
    <div style="width:50px;height:50px;float:left;padding-left:10px;padding-top:20px;">
      <img style="width:32px;height:32px;" src="../../../assets/images/info_icon.png" alt="Warning!">
    </div>
    <div style="padding-top: 20px;">
      <p class="information-text">You are accessing a U.S. Government information system. This information system, including all related equipment, networks, and network devices, is provided for U.S. Government-authorized use only. Unauthorized or improper use of this system is prohibited, and may result in civil and criminal penalties, or administrative disciplinary action. The communications and data stored or transiting this system may be, for any lawful Government purpose, monitored, recorded, and subject to audit or investigation. By using this system, you understand and consent to such terms. 
        For details on how we use your information, please see our <a href="https://www.transportation.gov/dot-website-privacy-policy">Privacy Policy</a>
      </p>
    </div>
  </mat-card>
</div>
<a id="MyLink" style="display:none"></a>
