<div class="container">
  <mat-card>
    <div class="row row-divided">
      <div class="col-xs-6 column-one">
        <h3>Sign up</h3>
        <p class="textFormat">Please download the access request
          form below, fill out the required details and send an email
          to support@securedatacommons.com. Once approved,
          we will send you an email with the instructions for
          accessing the platform.</p>

        <div class="accessLink">
          <a style="font-size:16px;" href="../../../assets/SDC_Form/SDCAccessRequestForm.pdf" target="_blank" >Access Request Form</a>
        </div>
        <div style="width:50px;height:50px;float:left;padding-left:10px;padding-top:20px;">
          <img style="width:32px;height:32px;" src="../../../assets/images/info_icon.png" alt="Warning!">
        </div>
        <div style="padding-top: 20px;">
          <p class="textFormat" style="margin-top:inherit;font-size:13px;">You are accessing a U.S. Government information system. This information system, including all related equipment, networks, and network devices, is provided for U.S. Government-authorized use only. Unauthorized or improper use of this system is prohibited, and may result in civil and criminal penalties, or administrative disciplinary action. The communications and data stored or transiting this system may be, for any lawful Government purpose, monitored, recorded, and subject to audit or investigation. By using this system, you understand and consent to such terms. 
            For details on how we use your information, please see our <a href="https://www.transportation.gov/dot-website-privacy-policy">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="vertical-divider">or</div>
      <div class="col-xs-6 column-two">
        <div style="padding: 115px;">
          <div style="margin-bottom: 10px">
            <p><strong>Enter your email address to sign in</strong><br>You will be redirected to your organization's sign in page</p>
          </div>
          <div style="margin-bottom: 20px">
            <input value="" type="text" size="40" class="usa-input" id="email" name="email" [(ngModel)]="email" autocapitalize="off" autocorrect="off">
          </div>
          <div style="margin-top: 20px">
            <button class="btn btn-primary actionBtn" (click)="userLogin()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<a id="MyLink" style="display:none"></a>
