<div class="container">
  <mat-card>
    <div>
        <form class="usa-form signin" (ngSubmit)="onSubmit()">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Sign in</legend>
        
                <label for="username">Username or email address</label>
                <input class="usa-input" id="username" name="username" [(ngModel)]="username" type="email" autocapitalize="off" autocorrect="off">
        
                <label for="password-sign-in">Password</label>
                <input class="usa-input" id="password-sign-in" name="password" [(ngModel)]="password" type="password">
                <p class="usa-form__note">
                    <a onclick="togglePassword(this, document.getElementById('password-sign-in'))" class="usa-show-password">Show password</a>
                </p>
                <input class="usa-button" type="submit" value="Sign in">
            </fieldset>
        </form>
    </div>
  </mat-card>
</div>
