<div class="container">
  <mat-card appearance="outlined" class="info">
    <div class="row">
      <!--mat-expansion-panel style="margin-top: 40px;" [expanded]="true"-->
      <h3>Helpful Links</h3>
      <mat-card-content>
        <!--div class="padding-top-xs" id="sdcInfo"-->
        <!--div id="sdcInfo"  style="line-height:200%;"-->
        <div id="sdcInfo">
          <ul>
            <!-- TO DO: FIX COLOR, UNDERLINE LINKS, FIX CODE INDENTATIONS -->
            <span style="color: rgb(16, 36, 80)">
              <li class="push-top-30">
                <a
                  href="https://securedatacommons.atlassian.net/wiki/spaces/DESK/pages/2223964161/RT+Guide+Researchers+User+Guide"
                  class="linkFont"
                  aria-label="Open external link to Researcher's'Guide in a new tab"
                  target="_blank"
                  rel="noopener"
                  >Researcher User Guide</a
                >
                <br />Provides guidance on set-up and usage of the SDC web
                portal system for Research teams.
              </li>
              <p></p>
              <li>
                <a
                  href="https://securedatacommons.atlassian.net/wiki/spaces/DESK/pages/1346273335/DP+Guides"
                  class="linkFont"
                  aria-label="Open external link to Data Provider's Guide in a new tab"
                  target="_blank"
                  rel="noopener"
                  >Data Provider User Guide</a
                >
                <br />Provides guidance on set-up and usage of the SDC web
                portal system for Data Providers.
              </li>
              <p></p>
              <li>
                <a
                  href="https://securedatacommons.atlassian.net/servicedesk/customer/portal/2"
                  class="linkFont"
                  aria-label="Open external link to the SDC Service Desk in a new tab"
                  target="_blank"
                  rel="noopener"
                  >SDC Help Center: Service Desk Request</a
                >
                <br />Submit requests for additional data access, technical
                support or to report bugs via this Help Center resource.
              </li>
              <p></p>
              <li>
                <a
                  href="https://www.transportation.gov/data/secure"
                  class="linkFont"
                  aria-label="Open external link to SDC Microsite in a new tab"
                  target="_blank"
                  rel="noopener"
                  >Secure Data Commons (SDC) Microsite</a
                >
                <br />Provides overview of the SDC offerings for your team's
                project, data, or analysis efforts.
              </li>
            </span>
          </ul>
        </div>
      </mat-card-content>
      <!--/mat-expansion-panel-->
      <br />

      <h3>Frequently Asked Questions</h3>
      <!-- TO DO: FIX INSTRUCTIONS, ASSETS, CREATE ACCORDIANS, ADD JUMP LINKS -->
      <mat-card-content>
        <!-- <div class="padding-top-xs" id="sdcInfo">
                        <ul>
                            <h4>1) What is Secure Data Commons Platform?</h4>
                            <p>The Secure Data Commons is an online analytic portal for transportation researchers. On this
                                portal, researchers can take advantage of pre-established programming environments to access
                                and analyze a growing set of transportation-related data sets.
                            </p>
                            <p>
                                The SDC platform provides a collaborative environment for traffic engineers, researchers,
                                data scientists and anyone who is interested in carrying out research and analysis on
                                different datasets related to traffic, weather, crashes etc.
                            </p>
                        </ul>
                    </div> <hr> -->

        <!-- <div class="padding-top-xs" id="sdcAccess">
                        <ul>
                            <h4>2) How can I get access to the SDC portal?</h4>
                            <span>
                                <li class="push-top-30">Go to https://portal.securedatacommons.com URL</li>
                            </span>
                            <span>
                                <li class="push-top-30">Go to ‘Register/Login’  menu tab</li>
                                <img src="../../assets/images/faq_image/SignUp-1.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30">Please download the access request form and fill out the required details and send an email to sdc-support@dot.gov</li>
                                <img src="../../assets/images/faq_image/SignUp-2.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30">Once approved, support team will send you an email with the instructions for accessing the platform.</li>
                            </span>
                        </ul>
                    </div> <hr> -->

        <!-- <div class="padding-top-xs" id="sdcDataset">
                        <ul>
                            <h4>3) What is SDC Datasets?</h4>
                            <p>The dataset types are described as follows:</p>
                            <span>
                                <li class="push-top-30"><b>Raw datasets</b></li>
                                <p>The data stored in its native or original format are referred to as Raw datasets. These datasets could be in structured (databases, logs, financial data etc), semi-structured (HTML, XML, RDF, CSV) and un-structured (images, PDF, docs). This data is unaltered and stored in as-is format. The data can be received through continuous streaming sources (APIs, sensors) or one-time load from external sources</p>
                                <li class="push-top-30"><b>Curated datasets</b></li>
                                <p>Data curation is a process of integrating the raw data collected from various sources, annotating the data and presenting it in such a way that the value of the data is maintained overtime and the data remains available for reuse and preservation. Curated datasets enable data discovery and retrieval, maintain quality, add value and provide for re-use over time, for researchers and data scientists. The curation process includes data transformations from unstructured and semi structured formats to a structured format, deduplication of data, data obfuscation, data cleansing etc thus providing high quality of data for researchers to create meaningful insights</p>
                                <li class="push-top-30"><b>Published datasets</b></li>
                                <p>Published datasets are created by researchers to disclose their research for other users to verify and reuse them beyond the original purpose for which they were collected. Published datasets are a result of combining analysis on curated datasets available in SDC platform along with other datasets or algorithms that is owned/created by a researcher or data scientist</p>
                            </span>
                        </ul>
                    </div> <hr> -->

        <!--div class="padding-top-xs" id="datasetAccess"-->
        <div class="padding-top-xxs" id="datasetAccess">
          <ul>
            <h4>1) How can I get access to the SDC Datasets?</h4>
            <p>
              Users can request access to the datasets that are available within
              the SDC platform as published / enabled by the SDC team or
              published by other users.
            </p>
            <ul class="outside">
              <span>
                <li class="push-top-30">
                  Once you are logged in, click on 'DATASETS’ in the top menu.
                </li>
                <img
                  src="../../assets/images/faq_image/Dataset-1.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  Expand the ‘SDC Datasets’ panel. Below this you can see all
                  available datasets.
                </li>
                <img
                  src="../../assets/images/faq_image/Dataset-2.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  To access a given Dataset, click on 'Request'.
                </li>
                <img
                  src="../../assets/images/faq_image/Dataset-3-newest.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  The 'SDC Data Access Request Form' will pop-up. Complete the
                  form and click ‘Send Request’.
                </li>
                <img
                  src="../../assets/images/faq_image/Dataset-4-noBorder-marked.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  The request will be sent to the support team and access to the
                  requested dataset will be given upon validataion and approval
                  of the information in the form.
                </li>
              </span>
            </ul>
          </ul>
        </div>
        <hr />

        <div class="padding-top-xs" id="datasetInfo">
          <ul>
            <h4>
              2) How can I understand what a particular dataset consists of?
            </h4>
            <ul class="outside">
              <span>
                <li class="push-top-30">
                  Click anywhere on a given Dataset entry for the corresponding
                  README description to display below it.
                </li>
                <img
                  src="../../assets/images/faq_image/dataset-5.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
            </ul>
          </ul>
        </div>
        <hr />
        <!-- 
                    <div class="padding-top-xs" id="workstationLaunch">
                        <ul>
                            <h4>3) How do I launch a workstation?</h4>
                            <span>
                                <li class="push-top-30">Click on the ‘WORKSTATIONS’ menu tab</li>
                                <img src="../../assets/images/faq_image/Workstation-1.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30">Click on the 'Start' Button to start your workstation machine.</li>
                                <img src="../../assets/images/faq_image/Workstation-2.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30">The workstation should become available with a few minutes, confirmed by the following message.</li>
                                <img src="../../assets/images/faq_image/Workstation-2.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30">Click the corresponding  ‘Launch’ button to open the Apache Guacamole 'Connections' page in a new tab.</li>
                                <img src="../../assets/images/faq_image/Workstation-2.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30"> Expand your team's connections listing. Navigate to, and click on, the entry for your workstation (highlighted in green).</li>
                                <img src="../../assets/images/faq_image/Workstation-2.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30"> This opens the login page, where you'll enter your SDC username and password to access your workstation.</li>
                                <img src="../../assets/images/faq_image/Workstation-2.png" class="mx-auto d-block width-70">
                            </span>
                            <span>
                                <li class="push-top-30">You will be redirected to new tab, in which you can choose the application and start working.</li>
                                <img src="../../assets/images/faq_image/Workstation-3.png" class="mx-auto d-block width-70">
                            </span>
                        </ul>
                    </div> <hr> -->

        <div class="padding-top-xs" id="workstationLaunch">
          <ul>
            <h4>3) How do I launch a workstation?</h4>
            <p>
              Users can see their assigned workstations by clicking on
              WORKSTATIONS from the top menu. By default, all workstations are
              in a stopped state.
            </p>
            <ul class="outside">
              <span>
                <li class="push-top-30">
                  Click on the 'Start' button to start your workstation machine.
                </li>
                <img
                  src="../../assets/images/faq_image/Workstation-1-new.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  The workstation should become available within a few minutes,
                  confirmed by the following message.
                </li>
                <img
                  src="../../assets/images/faq_image/Workstation-2-new-focused.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  Click the corresponding ‘Launch’ button for your workstation.
                </li>
                <li>
                  Note: The Launch button does not start your workstation. You
                  must start it before you can log in.
                </li>
                <img
                  src="../../assets/images/faq_image/Workstation-3-new.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  This opens the workstation login page. Enter your SDC username
                  and password at the prompts to access your workstation
                  desktop.
                </li>
                <li>
                  Note: The workstation may take a few minutes to initialize
                  before the login screen appears.
                </li>
                <img
                  src="../../assets/images/faq_image/Workstation-5-new-focused.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
            </ul>
          </ul>
        </div>
        <hr />
        <!-- 
                    <div class="padding-top-xs" id="dataStore">
                        <ul>
                            <h4>4) TBC - Where do I my store data</h4>
                            <span>
                                <p>You can store data in your ‘Home Folder’ or ‘Temporary Folder’.</p>
                                <li class="push-top-30"><b>Home Folder:</b> Data stored in home folder will remain persistent, you can access it on your next login</li>
                                <li class="push-top-30"><b>Temporary Folder:</b> Data stored in temporary folder will get deleted once you close your session.</li>
                            </span>
                        </ul>
                    </div><hr> -->

        <div class="padding-top-xs" id="appStream">
          <ul>
            <h4>4) How do I upload my own datasets/algorithm?</h4>
            <p>
              Users who want to share data with other users from their project
              team can upload their own data to their assigned team/individual
              S3 buckets.
            </p>
            <ul class="outside">
              <span>
                <li class="push-top-30">Click on DATASETS on the top menu.</li>
                <li>Click on Upload Files under 'My Datasets/Algorithm'.</li>
                <li>
                  A pop-up window appears prompting you to choose one or more
                  files for upload to the assigned bucket. (The assigned bucket
                  name will be displayed on the upload pop-up window.)
                </li>
                <img
                  src="../../assets/images/faq_image/Upload-1-noBorder-marked2.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  Once you have chosen your file(s), click the 'Upload' button.
                  A success message will be displayed upon successful upload.
                </li>
                <img
                  src="../../assets/images/faq_image/Upload-2-focused.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
              </span>
              <span>
                <li class="push-top-30">
                  Files that are uploaded from the web portal will be saved in
                  the folder <b>username/uploaded_files.</b>
                </li>
                <li>
                  To make these files available to members of the project team,
                  users then need to move files from username/uploaded files to
                  the project team S3 bucket using the
                  <a
                    href="https://securedatacommons.atlassian.net/wiki/spaces/DESK/pages/910622733/RT+Guide+Cyberduck+User+Guide"
                    aria-label="Open CyberDuck tool chapter of RT Guide in a new browser tabl"
                    target="_blank"
                    rel="noopener"
                  >
                    CyberDuck tool.
                  </a>
                </li>
                <li>
                  Users would be able to access only the files that are under
                  the uploaded_files and export_requests folders.
                </li>
              </span>
            </ul>
          </ul>
        </div>
        <hr />

        <div class="padding-top-xs" id="datasetPublish">
          <ul>
            <h4>5) How do I publish my dataset/algorithm?</h4>
            <p>
              Follow the below steps to publish your datasets / algorithms and
              share with other SDC Users.
            </p>
            <ul class="outside">
              <span>
                <li class="push-top-30">Navigate to Datasets page</li>
                <img
                  src="../../assets/images/faq_image/Publish-1.png"
                  class="mx-auto d-block width-70"
                  id="img-highlight"
                />
                <li class="push-top-30">
                  Click on the upload icon under publish for the
                  dataset/algorithm you wish to publish
                </li>
                <li>
                  In the pop-up window that shows up, you will have two options
                  either a Dataset or Algorithm:
                </li>
                <ul class="outside">
                  <span>
                    <p>
                      a. Select the dropdown value as Dataset and fill the
                      required values
                    </p>
                    <ul class="outside">
                      <img
                        src="../../assets/images/faq_image/Publish-2.png"
                        class="mx-auto d-block width-40"
                        id="img-highlight"
                      />
                      <p>
                        i. Name - Name of the dataset, which you wish to call
                        it. Users will see your dataset with this name under SDC
                        Datasets section
                      </p>
                      <p>
                        ii. Description - Provide a short description so users
                        can get an idea about your dataset
                      </p>
                      <p>
                        iii. File/folder name - Name of the file or folder where
                        your dataset resides in your Home folder. We need this
                        information, so the support team can publish this
                        dataset and make it available to other users
                      </p>
                      <p>
                        iv. Readme / Data dictionary file name - This file
                        should provide detailed instructions about your dataset,
                        how it was created or any relevant information that
                        helps user to understand and use the dataset. Save this
                        file in your home folder relative to the dataset
                        file/folder name
                      </p>
                      <p>
                        v. Geographic scope - Indicate the geographic scope for
                        your dataset whether it belongs to a specific state,
                        region, country etc
                      </p>
                      <p>
                        vi. Start/End Date for data availability - Provide the
                        start and end dates of the data that belongs in your
                        dataset. For example, your dataset may contain data from
                        March 2017 to August 2017
                      </p>
                    </ul>
                  </span>
                  <span>
                    <p>b. Select the dropdown value as Algorithm</p>
                    <ul class="outside">
                      <img
                        src="../../assets/images/faq_image/Publish-3.png"
                        class="mx-auto d-block width-40"
                        id="img-highlight"
                      />
                      <p>
                        i. Name - Enter the name for your algorithm. Users will
                        see your algorithm with this name under SDC Datasets
                        section
                      </p>
                      <p>
                        ii. Description - Provide a short description about your
                        algorithm
                      </p>
                      <p>
                        iii. File/Folder name - Name of the file or folder where
                        your algorithm resides in your Home folder. We need this
                        information, so SDC support team can publish this
                        algorithm and make it available to other users
                      </p>
                      <p>
                        iv. Readme / Data dictionary file name - This file
                        should provide detailed instructions about your
                        algorithm, how it was created or any relevantinformation
                        that helps user to understand and use the algorithm.
                        Save this file in your home folder relative to the
                        algorithm file/folder name
                      </p>
                      <p>
                        v. Programming Tools/language - Provide the details of
                        programming tools and/or languages that were used to
                        create this algorithm, so users can leverage the same to
                        run your program.
                      </p>
                    </ul>
                  </span>
                </ul>
              </span>
            </ul>
          </ul>
        </div>
        <hr />
      </mat-card-content>
    </div>
  </mat-card>
</div>
