<!--SDC Datasets Access Request Dialogbox-->
<div *ngIf="mailType == 'Access Request Mail' && datasetName != 'CVP'">
  <h4>SDC Data Access Request Form</h4>
  <hr>
  <mat-dialog-content>
      <p>Please fill out the following information to obtain access to the data set.</p>
      <h5 style="font-size:16px;padding-top: 10px;">Basis for Access</h5>
      <div style='width: 100%;padding-top: 15px;'>
        <p>Are you a USDOT Employee or researcher under contract to USDOT?</p>
        <mat-radio-group name="dotEmployee" id="dotEmployee" required [(ngModel)]="messageModel.dotEmployee">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <br/><mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field style='width: 100%' *ngIf="messageModel.dotEmployee === 'true'">
          <input matInput placeholder="If yes, please provide valid USDOT email address" (ngModelChange)="isEmailValid=validateEmailRegex()" [(ngModel)]="messageModel.dotEmployeeEmail" value="{{messageModel.dotEmployeeEmail}}" required>
          <mat-error align="start" *ngIf="!isEmailValid">Please enter a valid email address</mat-error>
          <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
          </mat-error> -->
          <mat-error align="end" *ngIf="!messageModel.dotEmployeeEmail">Required</mat-error>
      </mat-form-field>
      <div style='width: 100%;padding-top: 15px;' *ngIf="messageModel.dotEmployee === 'false'">
        <p>If No, Do you or your agency have an existing agreement with the data provider?</p>
        <mat-radio-group name="dotEmployeeExistingContract" id="dotEmployeeExistingContract" required [(ngModel)]="messageModel.dotEmployeeExistingContract">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <br/><mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style='width: 100%;padding-top:10px;' *ngIf="messageModel.dotEmployeeExistingContract === 'true'">
          <p>Kindly email a copy of your data agreement with the requested data provider at <strong>support@securedatacommons.com</strong>. Access will be provided after the SDC team has validated the agreement.</p>
      </div>
      <div style='width: 100%;padding-top:10px;' *ngIf="messageModel.dotEmployeeExistingContract === 'false'">
          <p>Would you like to sign an agreement to use the data available on the SDC Platform? Kindly write to <strong>support@securedatacommons.com</strong></p>
      </div>
      <hr>
      <h5 style="font-size:16px;padding-top: 10px;">Geographic Extent of Access</h5>
      <mat-form-field style='width: 100%'>
        <textarea matInput name="stateList" id="stateList" placeholder="Enter the state(s) for which you would like to request access." [(ngModel)]="messageModel.stateList" required></textarea>
        <mat-error align="end" *ngIf="!messageModel.stateList">Required</mat-error>
      </mat-form-field>
      <p style="margin-top: -15px;color: #a09e9e;font-size: 12px;"> use commas when requesting multiple states (e.g. KN, VI)</p>
      <hr>
      <mat-checkbox [(ngModel)]="agreed" [disabled]="!messageModel.stateList && (!messageModel.dotEmployee === 'false' && !messageModel.dotEmployeeExistingContract) || (messageModel.dotEmployee === 'true' && !messageModel.dotEmployeeEmail)"></mat-checkbox>
      <p>By clicking accept, the user agrees to the conditions set in the data provider agreement. If you are a USDOT employee or engaged in USDOT-sponsored research activity, you are agreeing to the overall data agreements that USDOT has with the data providers.</p>
      <p style="padding-top:10px;">Failure to comply with these terms may result in termination of the user account for the site and associated data in those accounts.</p>
    </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button class="btn btn-primary dotBtn" [disabled]="!agreed" (click)="sendMail()">SEND REQUEST</button>&nbsp;
    <button class="btn btn-primary dotBtn" (click)="onNoClick()">CANCEL</button>
  </mat-dialog-actions>
</div>


<!--SDC Datasets Access Request Dialogbox-->
<div *ngIf="mailType == 'Access Request Mail' && datasetName == 'CVP'">
  <h4>SDC Data Access Request Form</h4>
  <hr>
  <mat-dialog-content>
      <p>Please fill out the following information to obtain access to the data set.</p>
      <h5 style="font-size:16px;padding-top: 10px;">Basis for Access</h5>
      <div style='width: 100%;padding-top: 15px;'>
        <p>Are you a member of either the NYC, THEA or Wyoming CV Pilot Team?</p>
        <mat-radio-group name="isCVPilotTeamMember" id="isCVPilotTeamMember" required [(ngModel)]="messageModel.isCVPilotTeamMember">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <br/><mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style='width: 100%' *ngIf="messageModel.isCVPilotTeamMember === 'true'">
          <p>If yes, please indicate which CV Pilot Team you are affiliated with</p>
          <mat-radio-group name="cvPilotTeamName" id="cvPilotTeamName" required [(ngModel)]="messageModel.cvPilotTeamName"></mat-radio-group>
            <mat-radio-button value="NYC">NYC CV Pilot Team</mat-radio-button>
            <br/><mat-radio-button value="THEA">THEA CV Pilot Team</mat-radio-button>
            <br/><mat-radio-button value="Wyoming">Wyoming CV Pilot Team</mat-radio-button>
      </div>
      <div style='width: 100%;padding-top: 15px;'>
        <p>Are you a member of the CV Pilot Independent Evaluation Team?</p>
        <mat-radio-group name="isCVPilotIETMember" id="isCVPilotIETMember" required [(ngModel)]="messageModel.isCVPilotIETMember">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <br/><mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style='width: 100%;padding-top:10px;' *ngIf="messageModel.isCVPilotTeamMember === 'false' && messageModel.isCVPilotIETMember === 'false'">
          <p>If you answered no to both the questions, please provide the following information</p>
          <p>Please indicate which CV Pilot you are requesting data access for: </p>
          <mat-radio-group name="cvPilotDataSets" id="cvPilotDataSets" required [(ngModel)]="messageModel.cvPilotDataSets">
            <mat-radio-button value="Wyoming">Wyoming</mat-radio-button>
            <br/><mat-radio-button value="Tampa">Tampa Hillsborough Expressway Authority</mat-radio-button>
            <br/><mat-radio-button value="NYC">New York City DOT</mat-radio-button>
            <br/><mat-radio-button value="All">All Sites</mat-radio-button>
          </mat-radio-group>
          <p>Please provide a brief explanation on the reason for the request</p>
          <div>
            <textarea style='width: 100%' matInput name="accessReason" id="accessReason" placeholder="Enter the explanation here" [(ngModel)]="messageModel.accessReason"></textarea>
          </div>
      </div>
      <hr>
      <mat-checkbox [(ngModel)]="agreed"></mat-checkbox>
      <p>By clicking accept, the user agrees to the terms and conditions set forth by the CV Pilot data providers. For the CVP deployment team and the IE, please refer to your data use agreements with the CV Pilot sites. For other users, please note that the access to CV Pilot evaluation data on the SDC is made on a case-by-case basis by the individual CV Pilot sites. If data access is provided, additional agreements may be necessary to ensure that the CV Pilot data protection needs are satisfied.</p>
    </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button class="btn btn-primary dotBtn" [disabled]="!agreed" (click)="sendMail()">SEND REQUEST</button>&nbsp;
    <button class="btn btn-primary dotBtn" (click)="onNoClick()">CANCEL</button>
  </mat-dialog-actions>
</div>

<!--Publish Dataset / Algorithm Request Dialogbox-->
<div *ngIf="mailType == 'Dataset publish Mail'">
  <h4>Publish Dataset / Algorithm Request</h4>
  <hr>
  <mat-dialog-content>

    <mat-form-field style='width: 100%'>
      <mat-select placeholder='Type' [(ngModel)]="messageModel.type">
        <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.value" required>
          {{ dataType.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!messageModel.type">Please select type</mat-error>
    </mat-form-field>

    <mat-form-field style='width: 100%' *ngIf="messageModel.type == 'dataset'">
      <mat-select placeholder='Category' [(ngModel)]="messageModel.category">
        <mat-option *ngFor="let category of Categories" [value]="category.value" required>
          {{ category.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!messageModel.category">Please select category</mat-error>
    </mat-form-field>

    <mat-form-field style='width: 100%'>
      <input matInput placeholder="Name" [(ngModel)]="messageModel.name" value="{{messageModel.name}}" required>
      <mat-error align="end" *ngIf="!messageModel.name">Required</mat-error>
    </mat-form-field>

    <mat-form-field style='width: 100%'>
      <input matInput placeholder="Description" [(ngModel)]="messageModel.description" value="{{messageModel.description}}" required>
      <mat-error align="end" *ngIf="!messageModel.description">Required</mat-error>
    </mat-form-field>

    <mat-form-field style='width: 100%'>
      <input matInput placeholder="File/folder name" [(ngModel)]="messageModel.fileFolderName" value="{{messageModel.fileFolderName}}" required>
      <mat-error align="end" *ngIf="!messageModel.fileFolderName">Required</mat-error>
    </mat-form-field>

    <mat-form-field style='width: 100%'>
      <input matInput placeholder="Readme / Data dictionary file name" [(ngModel)]="messageModel.readmeFileName" value="{{messageModel.readmeFileName}}" required>
      <mat-error align="end" *ngIf="!messageModel.readmeFileName">Required</mat-error>
    </mat-form-field>

    <mat-form-field style='width: 100%' *ngIf="messageModel.type == 'dataset'">
      <input matInput placeholder="Geographic Scope" [(ngModel)]="messageModel.geographicScope" value="{{messageModel.geographicScope}}" required>
      <mat-error *ngIf="!messageModel.geographicScope">Required</mat-error>
    </mat-form-field>
    <mat-form-field style='width: 100%' *ngIf="messageModel.type == 'dataset'">
      <input matInput placeholder="Start/End Date for Data Availability" [(ngModel)]="messageModel.dataAvailability" value="{{messageModel.dataAvailability}}" required>
      <mat-error align="end" *ngIf="!messageModel.dataAvailability">Required</mat-error>
    </mat-form-field>

    <mat-form-field style='width: 100%' *ngIf="messageModel.type == 'algorithm'">
      <input matInput placeholder="Programming Tools/language" [(ngModel)]="messageModel.ProgrammingTool" value="{{messageModel.ProgrammingTool}}" required>
      <mat-error align="end" *ngIf="!messageModel.ProgrammingTool">Required</mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <span *ngIf="messageModel.type == 'dataset'">
      <button class="btn btn-primary dotBtn"
              [disabled]="!messageModel.type || !messageModel.name || !messageModel.description || !messageModel.fileFolderName || !messageModel.readmeFileName || !messageModel.geographicScope || !messageModel.dataAvailability"
              (click)="sendMail()">SEND REQUEST
      </button>
    </span>&nbsp;
    <span *ngIf="messageModel.type == 'algorithm'">
      <button class="btn btn-primary dotBtn"
              [disabled]="!messageModel.type || !messageModel.name || !messageModel.description || !messageModel.fileFolderName || !messageModel.readmeFileName || !messageModel.ProgrammingTool"
              (click)="sendMail()">SEND REQUEST
      </button>
    </span>&nbsp;
    <button class="btn btn-primary dotBtn" (click)="onNoClick()">CANCEL</button>
  </mat-dialog-actions>
</div>

<!-- <div *ngIf="requestType == 'Upload Files To S3'">
  <ng-progress
    [positionUsing]="'marginLeft'"
    [direction]="'leftToRightIncreased'"
    [color]="'#4286f4'"
    [trickleSpeed]="500"
    [thick]="true"
    [ease]="'easeInSine'"></ng-progress>
  <h4>Upload files to SDC platform</h4>
  <hr>
  <p>Files will be uploaded to the bucket - <b>{{ userBucketName }}</b></p>
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
  </label>
  <button class="btn btn-primary dotBtn" [disabled]="!selectedFiles" (click)="uploadFiles(userBucketName)">Upload</button>
</div> -->

<div *ngIf="requestType == 'Upload Files To S3'">
    <h4>Upload files to SDC platform</h4>
    <hr>
    <p>Files will be uploaded to the bucket - <b>{{ userBucketName }}</b></p>
   
    <!--<p-fileUpload name="selectedFiles[]" customUpload="true" (uploadHandler)="uploadFiles($event)"
    multiple="multiple" accept="image/*,.zip" maxFileSize="1000000000">
      <ng-template pTemplate="content">
          <ul *ngIf="selectedFiles.length">
              <li *ngFor="let file of selectedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
      </ng-template>
  </p-fileUpload>-->


  <!--<p-fileUpload name="selectedFiles[]" (onBeforeSend) = "onBeforeUpload($event)" (onSelect) ="onSelect($event)"  (onError)="onUpload($event)" 
  multiple="multiple" accept="image/*" maxFileSize="1000000">
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </ng-template>        
  </p-fileUpload>-->


  <p-fileUpload #fileUpload name="selectedFiles[]" customUpload="true" (uploadHandler)="uploadFiles($event)"
  multiple="multiple" accept="image/*,.zip" maxFileSize="1000000000">
    <ng-template pTemplate="content">
      <ul *ngIf="selectedFiles.length">
          <li *ngFor="let file of selectedFiles"><b> Uploaded {{file.name}} - {{file.size}} bytes </b> </li>
      </ul>
    </ng-template>
</p-fileUpload>

  
  <!--<p-fileUpload name="selectedFiles[]" mode="advanced" customUpload="true" (uploadHandler)="uploadFiles($event)"
        multiple="multiple" accept="image/*,.zip" maxFileSize="1000000000" styleClass="ui-fileupload, ui-fileupload-buttonbar, ui-fileupload-content">
    <ng-template pTemplate="content">
        <ul *ngIf="selectedFiles.length">
            <li *ngFor="let file of selectedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>-->
</div>
