
.dotBtn {
    color: #fff;
    background-color: #2279a6 !important;
    border-color: #288dc1 !important;
    width: 30%;
    font-size: 11px;
}
.mat-dialog-container {
    border: solid 2px #0b264db8 !important;
}