.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .selected-row {
    background-color: #8a878770;
  }


.infoDiv{
  text-align: left;
  padding-top: 85px;
  font-size: 15px;
  color: #536576;
}

.matContent {
  text-align: left;
  font-size: 15px;
  color: #536576;
}
.matTitle {
  font-style: italic;
  text-align: left;
  font-size: 15px;
  color: #536576;
}